<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PinIt.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2AEDB12C869D2926926322D42886E56250EF7DB4</string>
				<key>dateExpires</key>
				<string>02.10.26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.15.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AEDB12C869D2926926322D42886E56250EF7DB4</string>
						<key>dateExpires</key>
						<string>02.10.26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KT9X5QJW59</string>
						<key>name</key>
						<string>Tom Besinger</string>
					</dict>
					<key>versionNumber</key>
					<string>24.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>11.15.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AEDB12C869D2926926322D42886E56250EF7DB4</string>
						<key>dateExpires</key>
						<string>02.10.26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreMaps.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KT9X5QJW59</string>
						<key>name</key>
						<string>Tom Besinger</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>243</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AEDB12C869D2926926322D42886E56250EF7DB4</string>
						<key>dateExpires</key>
						<string>02.10.26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMaps.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KT9X5QJW59</string>
						<key>name</key>
						<string>Tom Besinger</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>38</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AEDB12C869D2926926322D42886E56250EF7DB4</string>
						<key>dateExpires</key>
						<string>02.10.26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KT9X5QJW59</string>
						<key>name</key>
						<string>Tom Besinger</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KT9X5QJW59.Fibbling.Fibbling</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>KT9X5QJW59</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PinIt.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>102455ec-de25-4958-ad14-192b1e621a4e</string>
				<key>dateExpires</key>
				<string>02.10.26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: Fibbling.Fibbling</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KT9X5QJW59</string>
				<key>name</key>
				<string>Tom Besinger</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
